:root {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.body {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

@media only screen and (max-width: 700px) {
  .body {
    grid-template-columns: 1fr !important;
  }

  .projects-grid {
    padding: 0 !important;
  }

  .action-buttons {
    gap: 1rem !important;
  }

  .action-buttons button {
    font-size: 14px !important;
    width: 6rem !important;
  }

  .sidebar {
    position: fixed;
    width: 300px;
    left: -340px;
    height: 100%;
    transition: all 0.5s ease;
    background-color: #7695ff;
    z-index: 10;
    color: white;
    padding: 1rem;
  }

  label #open,
  label #cancel {
    position: fixed;
    top: 15px;
    left: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0;
    font-size: 29px;
    background-color: #dcdcdc;
    height: 30px;
    width: 30px;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    line-height: 45px;
    transition: all 0.5s ease;
    z-index: 10;
  }

  label #cancel {
    opacity: 0;
    visibility: hidden;
    background-image: url(assets/close.svg);
    background-position: center;
  }

  label #open {
    background-image: url(assets/view-headline.svg);
    background-position: center;
  }

  #check:checked ~ label #open {
    margin-left: 330px;
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ label #cancel {
    margin-left: 330px;
    opacity: 1;
    visibility: visible;
  }

  #check:checked ~ .sidebar {
    left: 0;
  }

  .greeting {
    display: none !important;
  }
}

#check {
  display: none;
}

@media only screen and (min-width: 701px) {
  .sidebar {
    background-color: #7695ff;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: white;
  }

  label {
    display: none;
  }
}

.header {
  display: flex;
  flex-direction: column;
}

.top-header {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.bot-header {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.search-container {
  display: flex;
  align-items: center;
  flex: 4;
}

.search-container img {
  width: 2rem;
  margin-left: 3rem;
}

.search-bar {
  height: 2rem;
  background-color: #eaeaea;
  border: 1px solid #bebebe;
  flex: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: clamp(1rem, 5vw, 6rem);
  border-radius: 1rem;
  min-width: 100px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.profile * {
  margin-right: 2rem;
}

.profile-pic {
  border-radius: 3rem;
  width: 3rem;
  height: 3rem;
}

.notif {
  width: 2rem;
}

.greeting {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  flex: 4;
}

.greeting img {
  width: 4rem;
  border-radius: 5rem;
  margin-left: 3rem;
  margin-right: 2rem;
}

.greeting-text h2 {
  margin: 0;
}

.greeting h4 {
  margin: 0 0 10px 0;
}

.action-buttons {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 1rem;
  justify-content: center;
}

.action-buttons button {
  font-size: 1rem;
  font-weight: bold;
  background-color: #5f84fb;
  color: white;
  height: 3rem;
  width: 7rem;
  border-radius: 1.5rem;
  border: none;
}

.dashboard {
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.dashboard img {
  width: 3rem;
  margin-right: 1rem;
  filter: invert(100%) sepia(0%) saturate(7468%) hue-rotate(272deg)
    brightness(109%) contrast(109%);
}

.svg {
  filter: invert(100%) sepia(0%) saturate(7468%) hue-rotate(272deg)
    brightness(109%) contrast(109%);
  width: 1.5rem;
  margin-right: 1rem;
}

.sidebar li {
  font-size: 1.5rem;
  display: flex;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.tabs li {
  margin: 1rem;
  font-weight: bold;
  font-size: 22px;
}

.settings {
}

.settings li {
  margin: 1rem;
  font-weight: bold;
  font-size: 22px;
}

.main-content {
  background-color: #eaeaea;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0px 1px 5px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.projects-grid {
  padding: 1rem;
  margin: 1rem;
  flex: 4;
}

.projects-grid h2 {
  margin: 0 0 1rem 0;
}

@media only screen and (max-width: 1281px) {
  .projects-container {
    grid-template-columns: minmax(300px, 1fr) !important;
  }
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.project {
  background-color: white;
  min-height: 300px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
  border-radius: 1rem;
  position: relative;
  padding: 0 1rem 0 1rem;
}

.link {
  display: inline-block;
  position: absolute;
  right: 50px;
  bottom: 10px;
}

.link > img {
  width: 24px;
}

.link > img:hover {
  transform: scale(1.2);
}

.github {
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.github > img {
  width: 24px;
}

.github > img:hover {
  transform: scale(1.2);
}

.proj-pic > img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  border-radius: 1rem;
}

.project p {
  color: #555555;
}

.project::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  box-shadow: inset 10px 0 #ff9874;
}

.right-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.announcement {
  width: clamp(300px, 20vw, 400px);
  padding: 1rem;
}

.announcement-container {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.35);
}

.announcement-container h4 {
  margin: 0;
}

hr {
  border: 1px solid #bbb;
}

.announcement-container p {
  font-size: 14px;
  color: #6e6e6e;
}

.trending {
  padding: 1rem;
  width: clamp(300px, 20vw, 400px);
}

.trending h3 {
  margin: 0 0 1rem 0;
}

.trending-container {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  gap: 1.5rem;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.35);
}

.trending-acc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.trending-acc img {
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  margin-right: 1rem;
}

.trending-acc div > p {
  margin: 0 0 4px 0;
  font-size: 14px;
}

.user-desc {
  color: #6e6e6e;
}

.username {
  font-weight: 500;
}
