:root {
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.body {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.search-bar img {
  width: 2rem;
}

.sidebar {
  background-color: #7695ff;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: white;
}

.dashboard {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.dashboard img {
  width: 3rem;
  margin-right: 1rem;
  filter: invert(100%) sepia(0%) saturate(7468%) hue-rotate(272deg)
    brightness(109%) contrast(109%);
}

.svg {
  filter: invert(100%) sepia(0%) saturate(7468%) hue-rotate(272deg)
    brightness(109%) contrast(109%);
  width: 1.5rem;
  margin-right: 1rem;
}

.sidebar li {
  font-size: 1.5rem;
  display: flex;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.tabs li {
  margin: 1rem;
}

.settings {
}

.settings li {
  margin: 1rem;
}

.main-content {
  background-color: #9dbdff;
}
